<app-navbar></app-navbar>
<div class="container main-container">
    <!--<h1>Demos <small>angular</small></h1>
    <hr>
    <app-ng-style></app-ng-style>
    <hr>
    <app-css></app-css>
    <hr>
    <app-clases></app-clases>
    <hr>
    <p [appResaltado]="'orange'">Hola Directiva</p>
    <hr>
    <app-ng-switch></app-ng-switch>-->
    <router-outlet></router-outlet>
</div>