<div [ngClass]="alerta" class="alert" role="alert">
    A simple primary alert—check it out!
</div>

<button type="button" class="btn btn-info" (click)="alerta= 'alert-info'">Info</button>
<button type="button" class="btn btn-success" (click)="alerta= 'alert-success'">Success</button>

<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info': !propiedades.danger}">Hola Mundo</h3>

<button (click)="propiedades.danger = !propiedades.danger" type="button" class="btn btn-danger" [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}">
    Cambiar
</button>
<br><br>
<hr>
<h3>Proceso Asincrono</h3>
<button (click)="ejecutar()" type="button" name="button" class="btn btn-primary" [disabled]="cargando"> 
    <i [ngClass] = "{'fa-save' : !cargando, 'fa-refresh fa-spin': cargando}" class="fa"></i> 
   <span *ngIf="!cargando">Guardar Cambios</span> 
   <span *ngIf="cargando">Espere por favor</span> 
</button>